<div class="class-main">
    <form [formGroup]="createScheme" class="dark-form">
            <h1>Create Scheme</h1>
            <hr>
            <div class="form-group row p-2">
              <label class="col-sm-4 col-form-label" style="font-weight: bold;">Plan Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="pname" 
                name="PlanName" >
              </div>
            </div>
            <div class="form-group row p-2">
                <label class="col-sm-4 col-form-label" style="font-weight: bold;">Tenure(Months)</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="tenure" 
                    name="Tenure" >
                </div>
              </div>
              <div class="form-group row p-2">
                <label class="col-sm-4 col-form-label" style="font-weight: bold;">ROI(%)</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="roi" 
                    name="ROI" >
                </div>
              </div>
          <hr>
          <button type="button" (click)="save(this.createScheme.value)" class="btn btn-success"style="float: right;">Save</button>
      </form>
</div>