
    .class-main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* background-color: #333; */
    }
    
    .dark-form {
        width: 725px;
        padding: 20px;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
